/* Border-box reset */
html {
	box-sizing: border-box;
}

*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	/*Chat styling*/
	body {
		display: flex;
		background-color: #1c1c1c;
		margin-top: 30px;
		justify-content: center;
		align-items: center;
	}

	.userSettings {
		margin-bottom: 20px;
	}

	.chat {
		max-width: 400px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.chat #chatOutput {
		overflow-y: scroll;
		height: 280px;
		width: 100%;
		border: 1px solid #777;
	}

	.chat #chatOutput p {
		margin: 0;
		padding: 5px;
		border-bottom: 1px solid #bbb;
		word-break: break-all;
	}

	.chat #chatInput {
		width: 75%;
	}

	.chat #chatSend {
		width: 25%;
	}
	#title {
		color: #dcdcdc;
		margin: 20px;
	}
	#loginDiv {
		background-color: #797979;
		border-radius: 5px;
	}
	#login {
		text-align: center;
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	#usernameLabel {
		color: #fff;
	}
	#username {
		border-radius: 5px;
		margin: 5px;
		border: none;
		height: 40px;
		width: 300px;
	}
	#password {
		border-radius: 5px;
		margin: 5px;
		border: none;
		height: 40px;
		width: 300px;
	}
	#passwordLabel {
		color: #FFF;
	}
	#connexion {
		margin-top: 30px;
		border: none;
		border-radius: 25px;
		height: 40px;
		width: 150px;
	}
	.header {
		text-align: center;
	}
	.header h1 {
		color: #FFF;
	}
