<div class="container">
	<header class="header">
		<h1>My awesome chat</h1>
	</header>
	<main>
	<div class="userSettings">
		<label for="userName">Username:</label>
		<input id="userName" type="text" placeholder="Username" maxlength="32" value="Somebody">
	</div>
	<div class="chat">
		<div id="chatOutput"></div>
		<input id="chatInput" type="text" placeholder="Input Text Here" maxLength="128">
		<button id="chatSend">Send</button>
	</div>
	</main>
</div>
